# 忽略資料庫數據
qdrant_data/
surreal_data/
chroma_db/
*_data/

# 忽略大型筆記本數據
notebook_data/
*.pdf
*.csv
*.mp4

# 忽略 Python 相關
__pycache__/
*.py[cod]
venv/
.env
*.env
.DS_Store

# 忽略前端依賴
node_modules/
dist/
build/
.next/

# 忽略大模型權重
*.pth
*.bin
*.gguf
*.safetensors
*.tar.gz
*.zip
*.rar
docker.env
test_pageindex/
test_pageindex/pageindex/
logs/
